<h2>Top Heroes</h2>
<div class="grid grid-pad">

<a *ngFor="let hero of heroes; let i = index" class="col-1-4" routerLink="/detail/{{hero.id}}" required aria-label="hero-name" aria-required="true">
 
    <div class="module hero">
        <h4 *ngIf="cambio !== hero.id; else editarCampo">{{hero.name}} </h4>
      </div>
</a>
<ng-template #editarCampo>
<input type="text" [(ngModel)]="heroes[i].name">
<button class="guardar" (click)="guardarHeroe(heroes[i],heroes[i].name)">Guardar</button>
</ng-template>

</div>
